body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center; 
    background-color: black;
}

#canvas1 {
    position: fixed;  /* Ensures it stays fixed */
    top: 0;
    left: 0;
    width: 100%;  /* Viewport width */
    height: 100%;  /* Viewport height */
    background-color: black;
    z-index: -1;
}
 
.footer {
    background: #333;
    color: white;
    padding: 20px;
    width: 100%;
}

